.front-page {
    padding-top:10%;
    padding-bottom:10%;
    background-color:white;
}

.second-half {
    padding-top: 10%;
}
.app-cam {
  min-width:100%;
  padding:0px;
  padding-top:10px;
  margin:0px;

}

.dataTables_wrapper no-footer{
padding-top:20px !important;
}
.form-horizontal {
padding:20px;
}

.form .form-control {
   border: 1px solid black !important;
   background:white !important;
}
textarea#Description {
    background:none !important;
    border-radius:20px !important;
    border:1px solid #fff !important;
    width:100%;
    padding:10px;
}
.form-horizontal .control-label {
text-align:left !important;
}
