@model BugTrackerV4.Models.CodeFirst.Project
@{
    ViewBag.Title = "Unassign Users";
}

<div class="container">
    <h2> Unassign Users </h2>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-green margin-bottom-40">
                <div class="panel-heading">
                    @*<h3 class="panel-title"> @Model.User.DisplayName</h3>*@
                </div>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("projectId", Model.Id)

                @Html.ListBox("AssignedUsers", null, htmlAttributes: new { @id = "mySelect" })
                <div class="row">
                    <br />
                    <button type="submit" class="btn btn-primary">UnAssign</button>
                </div>
            }


        </div>
        <!--End Hover Rows-->
    </div>
</div>
